Interfaz/App_WebReferences/ref_Servicio/Servicio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Ciudad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre_ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ciudad" nillable="true" type="tns:Ciudad" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="Empleado">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="Carga_horaria" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Empleado" nillable="true" type="tns:Empleado" />
  <xs:complexType name="Meteorologo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Meteorologo" nillable="true" type="tns:Meteorologo" />
  <xs:complexType name="ArrayOfCiudad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ciudad" nillable="true" type="tns:Ciudad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCiudad" nillable="true" type="tns:ArrayOfCiudad" />
  <xs:complexType name="Pronostico_tiempo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="tns:Ciudad" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Interno" type="xs:int" />
      <xs:element minOccurs="0" name="LIST_pronosticos_hora" nillable="true" type="tns:ArrayOfPronostico_hora" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pronostico_tiempo" nillable="true" type="tns:Pronostico_tiempo" />
  <xs:complexType name="ArrayOfPronostico_hora">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pronostico_hora" nillable="true" type="tns:Pronostico_hora" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPronostico_hora" nillable="true" type="tns:ArrayOfPronostico_hora" />
  <xs:complexType name="Pronostico_hora">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hora" type="xs:int" />
      <xs:element minOccurs="0" name="Prob_lluvias" type="xs:int" />
      <xs:element minOccurs="0" name="Prob_tormenta" type="xs:int" />
      <xs:element minOccurs="0" name="Temp_max" type="xs:int" />
      <xs:element minOccurs="0" name="Temp_min" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo_cielo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="V_viento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pronostico_hora" nillable="true" type="tns:Pronostico_hora" />
  <xs:complexType name="ArrayOfPronostico_tiempo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pronostico_tiempo" nillable="true" type="tns:Pronostico_tiempo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPronostico_tiempo" nillable="true" type="tns:ArrayOfPronostico_tiempo" />
</xs:schema>